<div class="fater-logo">
    科研管理系统
</div>
<input id="sessionUserType" type="hidden" value="{{ request.session.type }}">
<div class="fater-menu-vertical">
    <div class="fater-menu-item">
        <a href="/researchMS/show/">
            <span class="fa fa-home"></span> 系统首页
        </a>
    </div>
    <div class="fater-menu-item" >
        <a href="/researchMS/researchRooms/show/" id="researchRoomsMenuItem">
            <span class="fa fa-building"></span> 研究室信息管理
        </a>
    </div>
        <div class="fater-menu-item">
        <a href="/researchMS/offices/show/" id="officesItem">
            <span class="fa fa-cc"></span> 办公场地信息管理
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/researchMS/secretaries/show/" id="secretariesMenuItem">
            <span class="fa fa-diamond"></span> 秘书信息管理
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/researchMS/researchers/show/" id="researcherItem">
            <span class="fa fa-users"></span> 科研人员信息管理
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/researchMS/projects_participators/show/" id="projects_participatorsItem">
            <span class="fa fa-deaf"></span> 科研项目管理_参与人员
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/researchMS/projects/show/" id="projectsItem">
            <span class="fa fa-deaf"></span> 科研项目管理
        </a>
    </div>
        <div class="fater-menu-item">
        <a href="/researchMS/subprojects/show/" id="subprojectsItem">
            <span class="fa fa-pencil"></span> 科研项目管理_子课题
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/researchMS/achievements/show/" id="achievementsItem">
            <span class="fa fa-paper-plane"></span> 科研项目管理_成果
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/researchMS/achievements_papers/show/" id="achievements_papersItem">
            <span class="fa fa-paper-plane"></span> 科研项目管理_论文
        </a>
    </div>
        <div class="fater-menu-item">
        <a href="/researchMS/achievements_patents/show/" id="achievements_patentsItem">
            <span class="fa fa-paper-plane"></span> 科研项目管理_专利
        </a>
    </div>
        <div class="fater-menu-item">
        <a href="/researchMS/achievements_softwareCopyrights/show/" id="achievements_softwareCopyrightsItem">
            <span class="fa fa-paper-plane"></span> 科研项目管理_软件著作权
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/researchMS/contacts/show/" id="contactsItem">
            <span class="fa fa-pencil"></span> 联系人信息管理
        </a>
    </div>
    <div class="fater-menu-item">
        <a href="/researchMS/organizations/show/" id="organizationsItem">
            <span class="fa fa-pencil"></span> 单位信息管理
        </a>
    </div>

    <div class="fater-menu-item">
        <a href="/researchMS/organization_contacts/show/" id="organization_contactsItem">
            <span class="fa fa-pencil"></span> 单位相关联系人信息管理
        </a>
    </div>

    <div class="fater-menu-item">
        <a href="/researchMS/users/show/">
            <span class="fa fa-user-o"></span> 管理员信息管理
        </a>
    </div>

</div>

