<!DOCTYPE html>
{% load static %}
<html>
{% include 'templates/head.html' %}
<body>
<div class="fater-layout-header">
    {% include 'templates/nav.html' %}
</div>

<div class="fater-layout-menus">
    {% include 'templates/menus.html' %}
</div>

<div class="fater-layout-body">

    <div class="fater-nums">
        <div class="fater-num-panel">
            <div class="fater-num-title">科研人员</div>
            <div id="cTotal" class="fater-num-toatal"></div>
            <div class="fater-num-unit">位</div>
        </div>
        <div class="fater-num-panel">
            <div class="fater-num-title">科研项目</div>
            <div id="jTotal" class="fater-num-toatal"></div>
            <div class="fater-num-unit">个</div>
        </div>
        <div class="fater-num-panel">
            <div class="fater-num-title">科研成果</div>
            <div id="isTotal" class="fater-num-toatal"></div>
            <div class="fater-num-unit">个</div>
        </div>
    </div>

    <div class="fater-panel">
        <div class="fater-pannel-title">
            系统信息
        </div>
        <div class="fater-pannel-body">
            <table class="fater-table">
                <tbody>
                <tr>
                    <td>系统名称</td>
                    <td>科研管理系统</td>
                </tr>
                <tr>
                    <td>开发环境</td>
                    <td>Python 3.9 + Django + MySQL 8</td>
                </tr>
                <tr>
                    <td>运行环境</td>
                    <td>Django + MySQL</td>
                </tr>
                <tr>
                    <td>开发技术</td>
                    <td>Django+ jQuery</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="fater-img">
        路在脚下，奋力前行
    </div>
</div>

<div class="fater-layout-foot">
    {% include 'templates/foot.html' %}
</div>

{% include 'templates/commjs.html' %}
<script type="text/javascript">
$(function(){

    $.ajax({
        url: "/researchMS/sysNum/",
        type: "GET",
        async: false,
        success: function(res){
            if(res.code == 0){

                $('#cTotal').text(res.data.ResearcherTotal);
                $('#jTotal').text(res.data.ProjectTotal);
                $('#isTotal').text(res.data.AchievementTotal);
            }else{
                $.msg("error", res.msg);
            }
        }
    });
});
</script>
</body>
</html>